*.iml
.gradle/
local.properties
.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
!releases/*.apk
*.dex
*.class
bin/
gen/
out/
.navigation/
*.jks
*.keystore
google-services.json
keystore.properties
release/
